[2018-01-25 19:34] omgitstom opened #7 "Give the developer the ability to set the timeout when accessing the JWKS endpoint"
Right now the underlying nimbus library has a default 250ms timeout for accessing the JWKS endpoint.  Customers are running into issues with this timeout value and we need to give the ability to override the default.

https://devforum.okta.com/t/jwt-verification-timeout-java/1074

[2018-02-07 19:18] spawnrider opened #9 "Verification issue - Signed JWT rejected: Another algorithm expected, or no matching key(s) found"
Hi,

I am trying to verify an freshly generated access_token using your library and I am encoutering this issue :
`com.okta.jwt.JoseException: Failed to validate JWT string
	at com.okta.jwt.impl.NimbusJwtVerifier.decode(NimbusJwtVerifier.java:82)
	at com.okta.jwt.impl.NimbusJwtVerifier.decodeAccessToken(NimbusJwtVerifier.java:68)
	at com.xxx.poc.oauth2.api.endpoints.AuthenticationEndpoint.post(Aut

[2018-03-05 19:06] bretjb commented on #7
Hello, we've been running into this issue as well. On the devforum you said you'd start looking into fixing this for the sprint beginning 2018-02-02. I was wondering if there was any updates you can give us? An expected ETA would help us plan accordingly.

Thank you!

[2018-03-05 20:19] bdemers commented on #9
Hey @spawnrider, sorry we missed this one.

Still running into this issue? I'm guessing that your Issuer URL is not set correctly It would needs to end with something like:
* `/oauth2/moinh9cbq7IJSkiaJ0h2`
* `/oauth2/default`

[2018-03-14 17:01] #7 closed

[2018-03-16 13:55] bdemers commented on #9
Closing, please reopen/comment if this is still an issue

[2018-03-16 13:55] #9 closed

[2018-06-13 12:52] jphines57 commented on #9
Hi @bdemers , I'm having this same issue as above. I inspected the kid value that the JWT was signed with and compared it to the kid value under my authorization server /keys and the values didn't match. The Verifier worked when I first created the authorization server but recently the keys rotated automatically and the Verifier seems to be using the previous one and not the new kid to compare JWT

[2018-06-25 18:21] bdemers opened #12 "Enforce best practices configuration"

[2018-06-28 09:32] reste85 opened #13 "Provide better exception when issuer doesn't match (common issue when switching between issuers or Okta Authorization Servers)"
Here the exception stacktrace:

[code]

**Root cause seems to be: Signed JWT rejected: Another algorithm expected, or no matching key(s)**

Here my configuration of JWTVerifier:
        val jwtVerifier = JwtHelper()
            .setIssuerUrl("https://dev-826799.oktapreview.com/oauth2/default")
            .setAudience("api://default")  // defaults to 'api://default'
            .setConnectionTimeo

[2018-06-28 16:00] bdemers commented on #13
What does the decoded token look like if you run it through something like: https://www.jsonwebtoken.io/

[2018-06-28 20:05] novaterata opened #14 "Confusion about purpose of this library"
I was hoping this library would be usable as a general purpose JWT verifier, but it seems to only work with okta. Is that the intention? If so than please clarify this. If not then I have a few bugs that are blockers for me.

[2018-06-28 20:52] novaterata commented on #14
In particular, validating a JWT from Azure fails because the issuer URL ends in a trailing slash, yet when I set the issuerURL this library always trims the trailing slash because okta doesn't use one. So the validation always fails.

[2018-06-29 12:28] novaterata commented on #14
I've worked around it by replicating the JwtHelper builder and replacing the Okta validator with the generic one.

[2018-06-29 12:28] #14 closed

[2018-06-29 14:45] bdemers commented on #14
@novaterata Yes the intention is to provide an Okta specific lib.

[2018-07-16 16:54] Dinesh-SENG opened #15 "No Support for Java 7"
Hi Team,

I'm not able use the jar in my project which is in jdk 1.7.  please suggest.

Thanks.

[2018-07-20 16:59] bdemers commented on #13
@reste85 please reopen if this is still an issue!

[2018-08-06 21:32] idontusenumbers opened #16 "Improved javadoc"
The javadoc leave a lot to be desired. What methods Block? What is a JoseException?

[2018-08-06 21:33] idontusenumbers opened #17 "Vertx implementation"
I'd love to see a vertx implementation of the verifier.

[2018-08-22 16:27] bdemers opened #18 "Add servlet filter example"

[2018-08-22 17:29] bdemers commented on #17
Thanks @idontusenumbers! The goal of this lib is to allow integrations into any other lib/framework.  I haven't used vertx, but if there something blocking this let us know!

Also, other feel free to comment on this issue even after it is closed, we will keep watching for interest!

[2018-08-22 17:29] #17 closed

[2018-08-22 18:05] idontusenumbers commented on #17
Vertx uses async IO, this library, as it stands, does not. Async IO allows for MUCH better scaling. To use this library with a vertx application, one must wrap all the calls to the jwtverifier in special blocking wrappers. This reduces the scalability of an application that uses the okta jwt verifier.

[2018-08-28 21:26] bdemers commented on #18
Sweet!

[2018-08-29 20:11] bdemers commented on #16
Great feedback!

Either of the validation method could block, if the public key needed to validate the JWT is not cached.

[2018-09-05 21:44] nbarbettini opened #19 "Library configuration checks"
To help avoid misconfiguration, this library should implement these checks against common errors: https://oktawiki.atlassian.net/wiki/spaces/PM/pages/552049922/Library+configuration+checks

For this library, these checks apply:

- [ ] Issuer
- [ ] Client ID

Additionally, make sure these placeholders are always used in documentation or samples:

- [ ] `https://{yourOktaDomain}` (not `{yourOktaDoma

[2018-09-24 10:41] ankit-learns commented on #9
The issue persists!
This is my issuer url : https://dev-******.oktapreview.com/oauth2/default
The accessToken is freshly generated.

[2018-09-24 10:52] ankit-learns commented on #13
@bdemers I'm still getting the exception. My configuration is similar to above mentioned reste85's.
Following is how my decoded JWT looks like:
{
 "ver": 1,
 "jti": "AT.XmiaE06ohkMmjQg669O4MtP9989_eB-nYbc2ztSG9ag",
 "iss": "https://dev-******.oktapreview.com",
 "aud": "https://dev-******.oktapreview.com",
 "sub": "ankitkumar@********.com",
 "iat": 1537785073,
 "exp": 1537788673,
 "cid": "0oaemdthg

[2018-09-24 13:48] kiplaaang opened #21 "Using beginner example: "Caused by: com.nimbusds.jose.proc.BadJOSEException: Signed JWT rejected: Another algorithm expected, or no matching key(s) found""
I was originally using my own implementation of a JWT verifier based on nimbus' jwt jose library, but kept getting "com.nimbusds.jwt.SignedJWT@4dc6c945 : Signed JWT rejected: Another algorithm expected, or no matching key(s) found"

So I found this library, and followed the example on the first page https://github.com/okta/okta-jwt-verifier-java

I get the same exception. code is currently:

[2018-09-24 14:01] kiplaaang commented on #21
I just now tried using https://jwt.io/ to validate the token I got... and it says invalid token. Not sure why.

Will try getting an access token in a different way maybe? I tried last week validating the tokens and it seemed fine then. Not sure why it's an issue now

[2018-09-25 16:32] bdemers commented on #21
@kiplaaang Thanks for following up!
This is related to #13, we will try to get a more descriptive error message when this happens

[2018-09-25 16:32] #21 closed

[2018-10-03 14:06] #19 closed

[2018-10-09 20:58] bdemers opened #26 "Keys URL does not resolve correctly"
Reported under:
https://github.com/okta/okta-jwt-verifier-java/commit/470337c184387a0893506981ef28739e42f3b2e7#commitcomment-30819494

cc: @alexturc

[2018-10-10 14:03] #26 closed

[2018-10-27 18:27] ImJezz opened #28 "Issuer URL cannot be set to other than URI"
When you are using Google+ API for sign in using Oauth2 it can return both an URI or a string, in the OktaJWTClaimsVerifier it would be an improvement to check if the issuer is either URI or URI-link substring https://, or is there another workaround for this?

`https://accounts.google.com` this is required for the JWTHelper to be an URI
`accounts.google.com` what google actually can return as wel

[2018-11-09 15:52] bdemers commented on #28
@ImJezz sorry for the delay (I had my notifications miss-configured for this repo)
Are you trying to use this lib with Google's tokens or Okta configured to use Google as an IdP?

[2018-11-09 17:03] bdemers commented on #28
I'll take a look, and try to reproduce this!

[2018-11-09 17:18] bdemers commented on #28
@ImJezz How are you getting the token? directly from Google or via Okta?

[2018-11-09 17:20] ImJezz commented on #28
I guess from Google,
when you click Sign in you get redirect to Google Login and then that token is set.

[2018-11-09 17:32] ImJezz commented on #28
Hmm, what kind of sign in widget do you use? I used one that maybe didn't have a connection to Okta

[2018-11-09 17:35] bdemers commented on #28
Typically Okta's SignIn Widget (or an oauth redirect).

Are you using Google products and Okta for SSO (meaning the all of the flows are initiated from Google)?

[2018-11-09 17:37] ImJezz commented on #28
Yeah that seems to be the case, can you show me your sign-in widget because I have found the wrong one to use then. Thanks for help 👍

[2018-11-09 17:41] bdemers commented on #28
Here you go: https://github.com/okta/okta-signin-widget

You can also use a simple redirect (and customize the login page via your Okta admin console)

[2018-11-09 17:41] #28 closed

[2018-11-28 22:43] bdemers opened #30 "Add request throttling support"
Limit the number of outbound requests to the `/key` endpoint.

[2018-11-28 22:44] bdemers opened #31 "Add User Agent to Http Requests"
Add User-Agent header to http requests made to the `/keys` endpoint

[2018-11-28 22:46] bdemers opened #32 "Add support for configurable retry"
The next version of this library will use OkHttp which already handles retry, but configuring this behavior is currently NOT exposed to the developer.

[2018-12-07 21:13] jbuffin commented on #26
@bdemers looking at release 0.3.2 looks like this should have been in the merge but the commit isn't there. Can you take a look?

[2018-12-10 14:59] bdemers commented on #26
Hey @jbuffin,

Thanks for reaching out! But, I'm not sure I'm following.  Are you looking at the commits for the tag? https://github.com/okta/okta-jwt-verifier-java/commits/okta-jwt-verifier-parent-0.3.2

[2018-12-10 19:53] jbuffin commented on #26
I think I was looking at the wrong thing. We are running into any issue with 0.3.2 that I thought was this issue. Our issuer url is https://companyname.oktapreview.com but the library is not resolving the keys url endpoint from the well-known configuration. Instead of `/oath/v1/keys`, the library is going to just `/v1/keys`. Rolling back to 0.3.0 fixed the problem. If this is something new, I can

[2018-12-10 20:11] bdemers commented on #26
If the issuer is in the format of `https://{domain}` It cannot be validated by this library, it should be in the format of: `https://{domain}/oauth2/{id}` (commonly something like `https://companyname.oktapreview.com/oauth2/default`)
The former is used for logging into your Okta dashboard/admin console.

Lets keep this thread going, what URLs do you have configured, and what `keys` endpoint do you

[2018-12-10 20:13] jbuffin commented on #26
I'll respond via email with some details.

[2018-12-11 16:15] bdemers commented on #26
@jbuffin the release is out, it should be available on Maven Central any time now (could be up to two hour before it shows up)

[2019-02-28 18:15] subukamath opened #35 "Security vulnerability with required library, njwt"
We are using the below version of the library.

"@okta/jwt-verifier": {
			"version": "0.0.14",
			"resolved": "https://registry.npmjs.org/@okta/jwt-verifier/-/jwt-verifier-0.0.14.tgz",
			"integrity": "sha512-O+CzOeMy6aUi0PtqmoZLmKjE1xpUF9nUMlZ3hYlz4fUpb3zKUUESohq/iSuBijw2dB0Lru6Tsi7OWJXFJT1vew==",
			"requires": {
				"@okta/configuration-validation": "^0.1.1",
				"jwks-rsa": "^1.2.0",
				"njw

[2019-02-28 18:56] bdemers commented on #35
Thanks @subukamath
This isn't the best way to report a security issue, Apache has a nice generic writeup: https://www.apache.org/security/
And Okta has one too: https://www.okta.com/vulnerability-reporting-policy/

That said, this is the wrong repo to report this against, but i'll pass the word along

[2019-02-28 18:56] #35 closed

[2019-02-28 20:23] bdemers commented on #12
incomplete description

[2019-02-28 20:23] #12 closed

[2019-02-28 20:50] nbarbettini commented on #35
For anyone wondering, the repo for the `@okta/jwt-verifier` package is https://github.com/okta/okta-oidc-js

And we're patching the vulnerabilities there: https://github.com/okta/okta-oidc-js/issues/385

[2019-03-20 18:01] jadams74 opened #37 "Additional Dependency Upon commons-collection4"
Looks like we need an additional dependency upon commons-collection4 to use?  Any way to add this to your dependencies so that consumers don't have to manage the dependency?

[2019-03-20 18:58] bdemers commented on #37
do you have a stacktrace? I’ll need to figure out why that is getting pulled in

[2019-03-20 21:27] jadams74 commented on #37
See below. Let me know if I can do anything else to track it down:
[code]

[2019-03-20 22:01] bdemers commented on #37
AHH, I see now.
We moved away from Nimbus and cleaned up the API in the last release.
(And commons-collections should no longer be used)

Until you update to the latest, you will need to add that dependency.
The repo now contains a separate example and integration-tests module, which should help remove the chances of this happing in the future

[2019-03-21 14:57] jadams74 commented on #37
Thanks

[2019-03-21 14:57] #37 closed

[2019-04-05 09:45] DimaSol opened #38 "token invalid on back-end after successful login on front-end SPA"
Hi,
I've been following the quick start guide https://developer.okta.com/quickstart/#/angular/java/spring but keep getting an invalid token exception from spring.
I'v double checked that all parameters are as described in the guide, angular widget is working properly and getting an access token but when this access token is being sent to the back-end as a "Authorization: 'Bearer ' + token" header,

[2019-04-06 12:53] #38 closed

[2019-04-06 12:54] DimaSol commented on #38
Wrong repository - opened another ticket at the okta-spring-boot ropository

[2019-04-13 02:36] rafikiass commented on #30
How long keys get cached? Can you provide a setter to override the default?

[2019-04-15 16:01] bdemers commented on #30
Currently public keys are cached until a new keyid is requested (and not found in the cache) at that point the key store is updated to reflect the current set of keys.

The goal of this issue is to add a minimum time between those requests.

[2019-05-23 20:57] elyast opened #40 "Provide support for Http Proxy settings"
In corporate there is sometimes a need to connect to Okta over Http proxy, JWT verifier should support it imho.

[2019-05-24 01:00] bdemers commented on #40
Hey @elyst!

The default java proxy setting should work:
https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html

Are you looking for something else?

[2019-05-24 16:36] elyast commented on #40
I don't think they apply to OkHttpClient:

[2019-05-24 19:06] bdemers commented on #40
IIRC, OkHttp checks the ProxySelector.  What are you seeing?  If you have already tried this let us know and I can dig into it a little more

Thanks @elyast !

[2019-06-11 17:22] donlingliang opened #41 "A signing key must be specified if the specified JWT is digitally signed ?"
@bdemers
I am following the example to build an `AccessTokenVerifier`.
Here is my code:
[code]
However, when calling **jwtVerifier** `decode` here throws exception below:
[code]

https://github.com/okta/okta-jwt-verifier-java/issues/13 and checking the okta configuration in console don't help.

By digging a bit, when code is executing to **line 334 - 357** in `DefaultJwtParser.java`, we already de

[2019-06-11 17:26] bdemers commented on #41
Can you send me the decoded body of the access token you are using?

[2019-06-11 17:36] donlingliang commented on #41
Below is the header from the Access Token:
[code]

I used Postman to do a GET request with the same jwkUri `https://dev-******.okta.com/oauth2/default/v1/keys` without header and params, it shows me below:
[code]

Thanks.

[2019-06-11 18:27] bdemers commented on #41
Can you include the body of the access token too?

[2019-06-11 18:30] donlingliang commented on #41
Here is the payload
[code]

[2019-06-11 18:36] bdemers commented on #41
Thanks!  The problem is the `issuer` of the access token, it does NOT match the issuer you have configured for the `AccessTokenVerifier`.

The type of access token you have (it is missing the `/oauth2/<authorization-server-id>` portion) is NOT meant for local validation, clients need to treat it as opaque and use the introspection endpoint instead of treating it as a JWT.

To get a token that you

[2019-06-11 22:00] donlingliang commented on #41
I see, in this case not only the access token request url needs to be changed to `***/default`, also the url that is used to auth/login should be changed.
A reference for people have the similar issue `/oauth2/<authorization-server-id>` https://developer.okta.com/docs/guides/customize-authz-server/create-authz-server/

Thanks @bdemers !

[2019-06-11 22:22] #41 closed

[2019-06-12 14:05] bdemers commented on #41
@donlingliang do you think the following exception would make this more clear:
https://github.com/okta/okta-jwt-verifier-java/pull/42/files#diff-c754a68b1550658bd56d8a37d1623435R68

While also not forcing the user/developer to assume that is the only cause?

[2019-06-12 15:28] donlingliang commented on #41
@bdemers
I am curious if we can do an `isSigned()` check in `DefaultJwtParser` before/after **SignatureException** thrown, so that we can specify the causes into two messages(issuer mismatch/the token somehow is not complete) instead. Otherwise the pr looks good to me.

[2019-06-12 15:42] bdemers commented on #41
Thanks @donlingliang!
The `DefaultJwtParser` from jjwt is a generic JWT lib, so we wouldn't be able to add issuer logic in there.  That said we might be able to add it along the way somewhere 🤔

[2019-06-12 17:23] donlingliang commented on #41
@bdemers Nevermind, your already included that check actually, in **line 56-58**, `TokenVerifierSupport.java`. 😂

[2019-06-14 18:59] bdemers commented on #18
Here it is: https://github.com/okta/samples-java-servlet/tree/master/resource-server

[2019-06-14 18:59] #18 closed

[2019-07-19 16:31] guangweiyao opened #43 "Add support for OSGI"
I am trying to use this maven artifact in an OSGI environment (Adobe Experience Manager), but it seems to be a non-OSGI jar, and when I deployed my application code, it says "com.okta.jwt -- Cannot be resolved".

It'll be good if you add support for OSGI.

[2019-07-23 15:49] bdemers commented on #43
Hey @guangweiyao, thanks for reaching out!

How did you include the jar in your project? Just as a transitive dep? Have you tried wrapping it in a bundle?

[2019-07-23 22:41] guangweiyao commented on #43
Hi @bdemers thank you for replying. I followed the instruction in the readme and included the maven dependencies in my pom file. In the code, I declared and registered an OSGI service, imported the okta
 jwt packages, and used it same way as [example](https://github.com/okta/okta-jwt-verifier-java/blob/master/examples/quickstart/src/main/java/com/okta/jwt/example/QuickStartExample.java).
And in th

[2019-07-24 14:11] bdemers commented on #43
@guangweiyao can you provide a standalone example? We can probably help suggest a work around.

[2019-07-25 00:05] guangweiyao commented on #43
@bdemers here's the java class
`package com.***.***.okta.services.token;

import com.***.***.okta.repository.OktaRepositoryService;
import com.okta.jwt.AccessTokenVerifier;
import com.okta.jwt.Jwt;
import com.okta.jwt.JwtVerifiers;
import org.osgi.service.component.annotations.Component;
import org.osgi.service.component.annotations.Reference;
import org.slf4j.Logger;
import org.slf4j.LoggerFactor

[2019-07-25 00:11] guangweiyao commented on #43
here's the core module pom

`<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>***.***.***</groupId>
        <artifactId>***-***-***-**

[2019-07-25 00:19] guangweiyao commented on #43
project pom
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

    <modelVersion>4.0.0</modelVersion>

    <groupId>***.***.***</groupId>
    <artifactId>***-***-***-app</artifactId>
    <version>0

[2019-07-25 15:33] bdemers commented on #43
Thanks @guangweiyao!

Can you stick this in minimal GitHub project that shows the problem? from there we can comment or submit a PR with a potential fix/idea?

[2019-07-26 22:29] guangweiyao commented on #43
@bdemers I created this sample project with same issue after I deployed the code in AEM 6.3, see attached.
https://github.com/guangweiyao/okta-sample-app
<img width="1599" alt="Screen Shot 2019-07-26 at 3 27 43 PM" src="https://user-images.githubusercontent.com/3342051/61984642-26213880-afba-11e9-9425-2a2d491872d7.png">

[2019-07-26 22:50] bdemers commented on #43
The repo looks empty now ? (GitHub problem)?
I was able to take a quick look at the jar in the `core` module
I was expecting the felix plugin/bnd to copy the com.okta.jwt classes into that bundle.  I know I've seen this in other places (though I'm no OSGI expert)

[2019-07-26 22:50] bdemers commented on #43
Have you tried tweaking the bundle config? import/export settings?

[2019-07-26 23:00] guangweiyao commented on #43
Please try now, I just re-pushed. I tried tweaking the <artifactId>maven-bundle-plugin</artifactId>, but was not successful. like the  <Import-Package>, <Embed-Transitive> or the <Embed-Dependency> tags, not sure if i missed anything.

[2019-07-29 22:54] guangweiyao commented on #43
@bdemers I found a way to convert the jar files into osgi bundle via this eclipse plugin, but I am getting error in the loadService method of JwtVerifiers, specifically on line 57 StreamSupport.stream, it's throwing IllegalStateException. Any thoughts? Does the stream service method work in OSGI container? OSGI has specific way to load class.

The full exception I am getting is:
java.lang.IllegalS

[2019-07-30 14:09] bdemers commented on #43
@guangweiyao Cool! getting closer
Did you do the same for the `-impl` module too?
https://search.maven.org/artifact/com.okta.jwt/okta-jwt-verifier-impl/0.4.0/jar
The implementation is found using a ServiceLoader, so IIRC, OSGI shouldn't have a problem pulling that in assuming it can find it based on the imports/exports of your package.

Please keep us posted!

[2019-08-16 06:08] Meyy-DL commented on #40
@bdemers Sorry to hijack this thread but my question is something related to original issue.
Adding proxy config at jvm level would be reflected to all http calls including internal calls. So there may be cases where application can make internal calls which doesn't need proxy config but needs proxy config for okta call. So adding proxy support to OkHttpClient would give us flexibility to turn on

[2019-08-16 14:44] bdemers commented on #40
Have you tried setting the nonProxyHosts?
https://docs.oracle.com/javase/7/docs/api/java/net/doc-files/net-properties.html

[2019-08-16 20:14] Meyy-DL commented on #40
@bdemers Thanks for quick reply. yeah we are using it now to circumvent the limitation on the lib. It might be overhead for clients to go through all non proxy calls and add it to nonProxyHosts and in future, keep the list up to date. Instead it would be nice to expose proxy settings on Okhttpclient. let me know if that makes sense.

[2019-08-20 00:32] sanghas26 commented on #40
@bdemers I have a PR here to allow a proxy for the OkHttpClient. This would help us as @Meyy-DL  pointed out the overhead involved in the above comment. Let me know your thoughts: https://github.com/okta/okta-jwt-verifier-java/pull/44

[2019-08-20 16:58] bdemers commented on #40
Our plan is to switch the same HTTP executor we are using with our other SDKs (at the original writing of this lib that logic was baked into said SDK, so the direct dependency on OkHttp was used). This logic has since been pulled out into https://github.com/okta/okta-commons-java (for use in this library)

[2019-09-03 12:44] Aniczka opened #45 "RemoteJwkSigningKeyResolver updateKeys() returns null map despite key being retrieved"
This specific method returns null map which was resulting in following exception: `java.lang.IllegalArgumentException`: A signing key must be specified if the specified JWT is digitally signed. I could see in debug mode that the key is retrieved and should pass both filters (sig - public key use, RSA - key type) and go into .map/.collect. This wasn't happening. I copied the code into my own java c

[2019-09-03 16:29] bdemers commented on #45
@Aniczka which version of Java are you using (version, vendor, os, etc)?

I want to make sure I can test this correctly.

[2019-09-04 08:58] Aniczka commented on #45
Details:
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)
Ubuntu 18.04.3 LTS
Thanks for a quick response!
Ania

[2019-09-04 15:33] bdemers commented on #45
@Aniczka I'm still not sure why this failed for you (that is a pretty common env too, very similar to what we previously used for CI)

Either way, removing that extra `.map` step is cleaner, can you take a look at #46 ?

[2019-09-06 15:32] Aniczka commented on #45
Thanks! Looks fine! I was surprised too as this would be something very easy to spot!
Let me know when I can pull new library!
Regards,
Ania

[2019-09-17 08:24] Aniczka commented on #45
Hi, can you let me know when this fix is expected to be released?
Thanks!
Ania

[2019-09-30 01:48] rameshvenk opened #47 "Timeouts in example in README.md is incorrect"
The `setConnectionTimeout(1000)` and `setReadTimeout(1000)` in the example in README.md take a `Duration` instead of an integer. The example should be re-written as follows (assuming the right imports are done elsewhere)

[code]
and change the methods in the builder to
[code]

[2019-09-30 14:13] bdemers commented on #47
Thanks @rameshvenk ! The initial version didn't use Durations, and the README was never fully updated.  I've got a PR open (#48) for this that will pull the code snippet from a source file to make sure it compiles and is accurate.

[2019-09-30 14:20] #47 closed

[2019-10-28 19:58] navinpai opened #49 "Use without querying /default/v1/keys ?"
Hey there,
I was integrating this lib into one of my apps and noticed that this makes use of the `RemoteJwkSigningKeyResolver` which makes an HTTP request to `jwkUri` everytime `getKey()` is called _(via [updateKeys()](https://github.com/okta/okta-jwt-verifier-java/blob/master/impl/src/main/java/com/okta/jwt/impl/jjwt/RemoteJwkSigningKeyResolver.java#L70))_.

Is it possible for me to use the libra

[2019-10-29 21:58] bdemers commented on #49
Hi @navinpai !

Thanks for checkout out this project.
The keys are cached so the only time a remote request is made is if the key is not cached yet. Depending on key rotation this might only be a couple times per year.

Is there a specific condition you are testing?

[2019-10-30 06:34] navinpai commented on #49
I'm unsure if that is the case, since it looks like for every token decode we are doing, the external URL (`/default/v1/keys`) is hit. It's a fairly simply REST API, and is similar to the code below:

[code]

I'm unsure why the caching isn't working but every call to the API ends up taking a second or 2 since it makes an external URL call.

Any help with this would be appreciated.

[2019-10-30 13:32] bdemers commented on #49
I’ll take a look!

[2019-11-06 20:21] donlingliang commented on #49
@bdemers Could you also take a look if this `keyMap` caching works for multiple threads? Thanks.

[2019-11-06 20:29] bdemers commented on #49
reading from multiple threads shouldn't be an issue, but the rare updates may cause additional requests (the current cache mechanism is a bit naive).  Key rotation happens ~4 times a year.

That said the plan is to grab the caching logic from our SDK (and then you could drop in any type of cache you wanted to)

[2019-11-06 20:55] donlingliang commented on #49
okay, so back to the original question that @navinpai posted, did you find out what causes the rare updates and the solution(manually doing the key rotation may not be a good choice if you already had a better one)?

[2019-12-09 15:09] Aniczka commented on #45
Any traction on that? We would like to get a new version that would actually work:/
Thanks!
Ania

[2019-12-09 17:55] bdemers commented on #45
@Aniczka sorry for the delay!!
We just pushed a `0.4.1-SNAPSHOT` to https://oss.sonatype.org/content/repositories/snapshots/

Want to give it a quick test?  I want to make sure there isn't something else at play here (I wasn't able to reproduce the error)
Let me know and I'll get a release cut.

[2019-12-13 12:28] Aniczka commented on #45
Many thanks! Unfortunately i am getting 403 FORBIDDEN when trying to access URL above.
Request URL:https://oss.sonatype.org/content/repositories/snapshots/
Request Method:GET
Remote Address:54.85.107.240:443
Status Code:
403
Version:HTTP/2.0

[2019-12-13 17:48] bdemers commented on #45
@Aniczka I _think_ it's just the directory listings that are disabled (to prevent crawling/DDOS style attacks) are you able to download the artifacts using maven or gradle?

[2019-12-17 23:09] asherzog commented on #49
@bdemers is this issue still being looked at? We have started running into rate limit warnings and violations from Okta for the /keys endpoint because the keys are not caching and requests are being made for every token validation.

[2019-12-18 10:16] Aniczka commented on #45
@bdemers yes,i can do that if you can give me details. Thanks so much for your help!

[2019-12-18 21:21] bdemers commented on #45
If you are using Maven, sticking something like this in your ~/.m2/settings.xml should be all you need:
[code]

Keep us posted!

[2019-12-19 20:40] bdemers commented on #49
@asherzog can you confirm you are using the same instance of `AccessTokenVerifier`/`IdTokenVerifier` each time you are validating a token?

[2020-01-06 06:58] blackjackyau commented on #30
in the case of current key "kid A" got cracked and we have performed the key rotation from Okta.
How do we invalidate the "kid A" from the cache ?

[2020-01-06 15:28] bdemers commented on #30
@blackjackyau the easiest way is to create a new instance of the Verifier.  This would be application-specific code.  We generally recommend reducing the amount of time a JWT is valid to help mitigate risk.  For example, if your tokens were only valid for 5 minutes, your application would only be at risk for 5 minutes.

[2020-01-07 12:48] blackjackyau commented on #30
@bdemers i see, the public key will be cached until the new kid is located and hence a shorter timer of access token will help.
However, this solution might not be ideal in the micro-service world where the service flow will be depending on user action. That might leave some applications be prone to attack

[2020-01-07 14:44] bdemers commented on #30
How do? You could clear the cache (by creating a new instance) and minimize the duration of the token (this part is just general advice)

[2020-01-07 15:13] blackjackyau commented on #30
@bdemers i mean, this should be configurable from the verification.
like how auth0 does it ? https://github.com/auth0/jwks-rsa-java
[code]

[2020-01-07 16:18] Aniczka commented on #45
@bdemers what is artifact id? updated settings and tried okta-jwt-verifier and okta-jwt-verifier-java but didn't work.
Thanks a lot!
Ania

[2020-01-07 17:05] Aniczka commented on #45
i tried that and okta-jwt-verifier jar was downloaded but not impl where the issue was:
<pluginRepositories>
        <pluginRepository>
            <id>snapshots-repo</id>
            <url>https://oss.sonatype.org/content/repositories/snapshots</url>
        </pluginRepository>
    </pluginRepositories>
    <dependencies>
        <dependency>
            <groupId>com.okta.jwt</groupId>

[2020-01-07 20:37] bdemers commented on #45
Try `<repositories><repository>` instead of `<pluginRepositories><pluginRepository>`

[2020-01-07 20:58] bdemers commented on #30
We do have plans to improve the caching (and allow for pluggable caching as we have in our management SDK)

However, the goal of this library is not a general-purpose JWT library (I'd recommend JJWT for that), so how the cache is used would still be tailored to Okta (I'm not sure if that is your intent or not).

You would want to invalidate the cache somehow on demand in the case of a leaked priva

[2020-01-07 21:12] blackjackyau commented on #30
@bdemers thanks for that. Yes in my case, a force cache invalidation will be the way but it is also good if i am able to define the worst risk time

[2020-01-08 11:38] Aniczka commented on #45
@bdemers one of those 'i swear it wasn't working before!' moments as i tried repositories before resorting to pluginRepositories! got both now and tested and all is working perfectly now!
Thanks so much!
Ania

[2020-01-08 14:37] bdemers commented on #45
Sweet! thanks for following up @Aniczka !

[2020-01-08 15:09] navinpai commented on #49
Is that the issue? I've posted the code I'm testing with above: https://github.com/okta/okta-jwt-verifier-java/issues/49#issuecomment-547758291

I create a new `AccessTokenVerifier` for every call to the `verifyToken` method. Should I unstead just use `AccessTokenVerifier` as a class level instance?

[2020-01-08 17:12] bdemers commented on #49
@navinpai Yup, that is the issue, reuse that instance to reuse the same cache!

[2020-03-07 23:23] ramkrishs opened #56 "Validating native app's access token throws exception"
Hi ,

We have a mobile app that authenticates using oidc lib from okta and passes the access token to our resource service part of it’s request call (POST, GET, etc). We have setup an authorization server in our dashboard with default settings and using /oauth2/default endpoint with default audience “api://default”. With this setup, we are using okta’s okta-jwt-verifier-java lib to verify the acce

[2020-03-08 03:09] bdemers commented on #56
Hey @ramkrishs!

I’m not sure I’m 100% following the problem. Who created the JWT you are trying to verify? Was it Okta? If so what was the issuer URL?  (Or how did you have the native app configured?)
Let us know!

[2020-03-08 06:10] ramkrishs commented on #56
I create a native android application with client authentication as PKCE (for public clients)  in okta dashboard. I am using the default authorization server. And that’s the only authorization server.

I am using the android code from the okta documentation to login and generate access token. I am passing that token to a java service which is trying to authorize that access token.

My configuratio

[2020-03-09 08:09] ramkrishs commented on #56
I did some more digging apparently for my use case I needed a custom-authorization server which point's to my resource service's url. And it worked. Sorry for my initial hunch on it being a bug. I am closing this issue

[2020-03-09 08:09] #56 closed

[2020-03-09 16:40] bdemers commented on #56
@ramkrishs thanks for the follow-up!

[2020-03-24 10:04] Hammond95 commented on #13
@reste85 Did you solved this?

[2020-03-24 20:44] bdemers commented on #13
@Hammond95 usually this is a configuration error. What does your config look like?

[2020-05-04 14:14] fabiomontefuscolo commented on #41
Hi,

I got stuck exactly in this part. But in my case, I copied issuer value from postman and pasted that into Java code. The access token has a kid that doesn't match any of the keys in `/oauth2/v1/keys`.

Also I tried to [create a Authorization Server](https://developer.okta.com/docs/guides/customize-authz-server/create-authz-server/), but there is no such entry in  _Developer Console > API_  me

[2020-05-04 15:03] bdemers commented on #41
Hi @fabiomontefuscolo !

There are a couple of common issues we see that could cause this.
1. Your Okta Org doesn't not have API Access Management enabled
(all developer accounts have this enabled by default)
If you didn't sign up for a non-developer account, you can contact Okta Support and they can help you out.

2. You are using the "admin" URL and appending `/oauth2/default/...`
  For example,

[2020-05-04 15:38] fabiomontefuscolo commented on #41
@bdemers Thank you very much. Actually, I was inspecting the Okta SDK using Java debugger to understand why it is failing. So it went well comparing the issuer, that is good. But when it loaded the keys from `https://***.oktapreview.com/oauth2/v1/keys`, the public key corresponding to `kid` from access_token is not present.

[2020-05-04 17:40] bdemers commented on #41
Ahh!, you need to use a "custom authorization server",  Okta has two types of Authorization Servers, you need one formatted in `https://dev-123456.okta.com/oauth2/<id>/v1/keys`

Out of the box, Developer Orgs have one named `default`.  If you have an older "okta preview" org you might not already have one.  Head over to `https://***-admin. oktapreview.com/admin/oauth2/as` to create one.  If you ca

[2020-05-08 17:06] harshsapra92 commented on #40
@bdemers Can we know when this code will merge with master for release?

[2020-05-08 20:28] bdemers commented on #40
@harshsapra92 will setting `nonProxyHosts` work in the short term for you?
https://docs.oracle.com/javase/7/docs/api/java/net/doc-files/net-properties.html

[2020-05-08 20:30] harshsapra92 commented on #40
@bdemers My organization obly has https end point..
and I have to use auth enabled https to connect with okta

[2020-05-08 21:05] bdemers commented on #40
@harshsapra92 you can try doing something like this: https://blogs.oracle.com/wssfc/handling-proxy-server-authentication-requests-in-java

(I realize exposing this directly in the library would be easier)
cc @arvindkrishnakumar-okta

[2020-06-17 20:20] jphines57 opened #59 "Question about Decode and signature verification"
After I instantiate the JwtVerifier and call decode(jwt) method. Does this method check the JWT signature?

[2020-06-17 21:07] bdemers commented on #59
Yup!
The JWT is fully validated (we use the JJWT library under the covers) and this library requires the validation of other claims in Okta Access and ID tokens.  For example, the `iss` and `aud` claim values are required for access tokens.

[2020-06-17 21:34] jphines57 commented on #59
Awesome! Also, is the best way to verify scopes for client credentials flow to loop over the claims map. Get the scp claim to verify?

[2020-06-17 21:53] bdemers commented on #59
Yup!
And depending on the framework you are using you could bind those scopes to something.  For example, our Spring integration can bind scopes to Spring Authorities

Or if you are making a simple filter, you can just check directly 😄

You can also add custom claims to your tokens: https://developer.okta.com/docs/guides/customize-authz-server/create-claims/

[2020-06-17 22:24] jphines57 commented on #59
Sweet! I'm attempting to perform the JWT verify in a simple filter prior to routing the API request to the controller endpoint.

[2020-06-18 14:52] bdemers commented on #59
Yup!
We have an example [servlet filter](https://github.com/oktadeveloper/okta-legacy-with-cloud-gateway-example/blob/master/legacy-servlet-app/src/main/java/com/okta/example/BearerTokenFilter.java) from a [blog post](https://developer.okta.com/blog/2020/01/08/secure-legacy-spring-cloud-gateway)

That blog post focuses on using Spring Cloud Gateway to deal with the access tokens, (and of course th

[2020-06-18 15:26] jphines57 commented on #59
So that servlet filter validates the Access Token, but if I'm trying to secure Restful endpoint down to the controller-method level. So how would I verify the access token AND confirm the controller endpoint the client it trying to access is one of the allowed scopes within the claims of the access Token?

Also, on your post here (https://developer.okta.com/blog/2018/04/02/client-creds-with-spring

[2020-06-18 16:28] bdemers commented on #59
That client credentials post is on my shortlist to update/rewrite with the current version of Spring Boot (and Spring Security).

Honestly, if you are already using Spring Boot, I'd suggest either using the Okta Spring Boot Starter or Spring Security directly.

Our Spring Boot starter is a light wrapper on top of Spring Security and adds the same JWT validation as this project, and it maps a `grou

[2020-06-18 17:13] jphines57 commented on #59
Great information!
So would it be better to either write a simple filter that does both checks (check accessToken is valid and authorized to the attempted endpoint) OR implement Spring Security to validate the accessToken under the covers and uses the @PreAuthorize("#oauth2.hasScope('customScope')") to authorize method access?
Is one way more secure than the other?

[2020-06-18 20:52] bdemers commented on #59
If you are already on Boot, I'd suggest using Spring Security for either option.

If you are thinking about using the client credentials flow between two services, take a look at this video: https://youtu.be/v2J32nd0g24.  Joe talks about a few different patterns that you can use.

But it's hard to suggest which is better without knowing a lot of specifics.  In general, you want to use a token that

[2020-06-18 21:11] jphines57 commented on #59
Thanks, I'll check out that video! I was hoping to use the second option that I suggested previously but I didn't want to call the authorization server to validate the access token each time. How can I avoid all of those calls?
Also, I understand mitigating risk however what if a client of my service has access to 20 different endpoints. if I was the client I would only want to call the authorizat

[2020-06-18 21:37] bdemers commented on #59
Spring Security supports both JWT and opaque access tokens the JWTs are validated locally), and the opaque ones remotely.

Performance-wise, JWTs (or other locally validated token) would be faster overall because they remove the latency of an additional HTTP request. This comes with the cost of the token could have been revoked by the IdP. (this risk is typically mitigated by keeping the lifespan

[2020-06-18 22:25] jphines57 commented on #59
I totally understand not knowing the specifics but still trying to give good advice! The basic scenario is I have a service that other third-party clients want to access. So in order to grant access to my service outside of my organization, I'm trying to architect as solution so that I can lock down granular endpoints.
I was able to get your demo working (

[2020-06-19 15:23] bdemers commented on #59
OK, I think I see. In that case, some of what I mentioned might be out of your control. (i.e the number of scopes inbound request).

I'm a fan of using the `@PreAuthoried` annotation, it keeps the access controls close to the code.  You could require authentication (the Spring Security default), and then check access at the method level.

Alternatively you can also match one layer above this too i

[2020-07-30 01:20] simcoder opened #61 "support for HS512"
Is there anyway we can add  support for HS512 ? Looking at the code you only support SignatureAlgorithm.RS256 at the moment. If so, how do you handle PR? and releases. I can definitely help out if needed

[2020-07-30 01:21] simcoder commented on #61
@bdemers

[2020-07-30 01:36] bdemers commented on #61
Hey @simcoder!  We ❤️ PRs!

It looks like this repo is missing a CONTRIBUTING.md

You find a similar one here:
https://github.com/okta/okta-sdk-java/blob/master/CONTRIBUTING.md

And I’ll make sure to update this repo.

The TL;DR is fork and build ‘./mvnw install’

Push a PR when you think it’s ready or if you just have questions.

Keep us posted!

[2020-08-17 14:05] ittzik opened #62 "AccessTokenVerifier.decode while ignoring 'audience' field"
Hi there,

We have a use case where we would like to decode a JWT token while ignoring the `aud` field.

Is it a valid use case? can it somehow be achieved with the latest version?

in case it's not possible -  as a 2nd best, I found functionality in the nodeJs library that we can use:
https://github.com/okta/okta-oidc-js/tree/master/packages/jwt-verifier#how-to-use
where we can pass the audience

[2020-08-17 14:39] bdemers commented on #62
Ignoring the `aud` field goes against Okta's recommendations for validating it's JWT access tokens: https://developer.okta.com/code/dotnet/jwt-validation/

We do have plans to support a list of audiences in the future, i.e. one of the values from a pre-configured list.
For now, if you already know what the audience should be before you parse the token (i.e. in the case of JS JWT verifier), you sho

[2020-08-17 14:55] ittzik commented on #62
Thanks for your prompt response!

We have multiple Okta applications (each having a dedicated clientId).
So far only a single application was verifying the okta token in our legacy Java back end.
Now there's a need for more applications to do the same.

I think a list of audiences would be great. until then, a single parser instance is indeed what we're implementing now.

[2020-08-19 20:21] bdemers commented on #62
The client Id isn't used when validating access tokens, the `iss` and `aud` (along with other standard JWT claims) are validated:
https://github.com/okta/okta-jwt-verifier-java#setting-up-the-library

https://developer.okta.com/docs/guides/validate-access-tokens/java/overview/

[2020-08-21 16:25] timrourke opened #63 "PKCE flow and ID token nonce value?"
Hi there!

I'm interested in your recommendations about the best way to fetch the OIDC profile data for an authenticated user. My use case is as follows:
- PKCE flow from my React app, using `@okta/okta-react`
- Verify JWTs in my Scala backend app using this library (`okta/okta-jwt-verifier-java`)

What I'd like to do is accomplish the following:
- User logs in to my frontend application using the

[2020-09-09 06:39] rahulpratik opened #64 "Proxy Support Needed"
Can you please update on the release of 0.4.2 version?

[2020-09-09 06:51] arvindkrishnakumar-okta commented on #64
@rahulpratik are you specifically looking for any features/bug fixes in `0.4.2`?

[2020-09-09 07:43] rahulpratik commented on #64
@arvindkrishnakumar-okta yes I’m looking for the add proxy feature in 0.4.2 version.

[2020-09-09 14:26] arvindkrishnakumar-okta commented on #64
@rahulpratik stay tuned, we have this work item planned.

[2020-09-16 20:37] rahulpratik commented on #64
@arvindkrishnakumar-okta The proxy support is present in master branch which is pending for 0.4.2 release. It is not present in 0.4.1. Please refer - https://github.com/okta/okta-jwt-verifier-java/blob/okta-jwt-verifier-parent-0.4.1/api/src/main/java/com/okta/jwt/VerifierBuilderSupport.java

[2020-09-16 22:46] arvindkrishnakumar-okta commented on #64
@rahulpratik Please use the just released version 0.5.0

[2020-09-16 22:46] #64 closed

[2020-11-13 00:02] kbobrowski commented on #17
Hi @bdemers , indeed it'd be nice to have async verifier, currently when using it from vertx I have to wrap this in `executeBlocking` which does not scale well. Async version would also integrate with Kotlin coroutines, which may be interesting for Android developers

[2020-11-13 03:20] bdemers commented on #17
@kbobrowski while, not perfect, the only blocking IO call _should_ be when a new public key is requested, which IIRC is once a quarter.

Can you tell me a bit more about your Android use case?

[2020-11-13 10:16] kbobrowski commented on #17
@bdemers that's right, it will block for longer time very rarely when getting new public key. But if I wrap `decode(token)` in `executeBlocking` to account for this, then during each API call the server would have to reserve new thread from thread pool, verify it in this thread, and return result, instead of doing this on the main event loop - not sure about performance penalty here at the moment.

[2020-11-13 15:45] bdemers commented on #17
This is helpful, I wasn't thinking about the added overhead of the wrapping of the method call

[2020-12-01 21:04] timrourke commented on #63
@aravindanranganathan-okta @robertjd why? Could you explain your reasoning?

[2020-12-01 23:40] arvindkrishnakumar-okta commented on #63
@timrourke For the Okta JWT Verifier, `nonce` is required to validate an IDToken. Like you noted, it has to match the `nonce` value used to get the token initially. Validating `IDToken` or `AccessToken` boils down to the decision of whether you are using the token to verify `authentication` or `authorization` respectively. In your use case, since the verification/validation of JWT happens in the b

[2021-01-04 15:05] mfickett commented on #41
Just chiming in that I ran into this too, so documentation / error message clarification would be a big help! Some points that were confusing:

*   The default configuration of prod and dev are different. This is clearly described in this thread and in authorization server docs, but meant authorization servers weren't on my mental checklist of reasons prod might not work despite dev working.
*   W

[2021-03-04 10:43] zaza commented on #63
@arvindkrishnakumar-okta why is this still open? Are there any changes expected regarding how the lib verifies IDTokens?

@timrourke Did the last comment answer your question? How did you eventually deal with your problem?

[2021-03-04 22:25] arvindkrishnakumar-okta commented on #63
@zaza This can be closed. @timrourke If there are any further questions or followups, please feel free to re-open it.

[2021-03-04 22:25] #63 closed

[2021-03-08 23:27] #45 closed

[2021-03-08 23:28] #43 closed

[2021-03-08 23:31] #49 closed

[2021-03-08 23:42] #59 closed

[2021-03-08 23:43] arvindkrishnakumar-okta commented on #59
Closing this issue, feel free to reopen if further followup is needed.

[2021-03-08 23:45] #62 closed

[2021-03-30 13:42] domdomegg opened #80 "Throwing NoSuchMethodError with okta-sdk-java >=3.0.2"
### I'm submitting a
  - [x] bug report

### Background info

When installed with okta-sdk-java >= 3.0.2, the id token verifier throws a NoSuchMethodError.

I believe this is probably because the `okta.commons.version` is different between the two libraries (`1.2.4` vs `1.2.5`). The method `HttpClientConfiguration.getRequestExecutorParams` is called but does not exist and so throws a NoSuchMethodE

[2021-03-30 14:26] bdemers commented on #80
@domdomegg Thanks!

A temporary workaround would be to set the okta commons version in your `pom.xml` dependency management section:

[code]

(or equivalent Gradle config)

We will get a new version out too ;)

[2021-03-30 14:27] arvindkrishnakumar-okta commented on #80
@domdomegg Thanks! We'll get the new version out!

[2021-03-30 15:41] #80 closed

[2021-03-31 09:08] domdomegg commented on #80
Amazing, thanks for the quick response both :+1: :raised_hands:

[2021-04-05 09:03] absaini123 opened #83 "JUnit with Wiremock - Issuer HTTPS issue"
### I'm submitting a
  - bug report

### Background info

JjwtAccessTokenVerifierBuilder's build method checks if the issuer in the token is a valid issuer in BaseVerifierBuilderSupport.validate() which calls okta-config-checks JAR's ConfigurationValidator.assertIssuer(). However, when runing the code through a testing scenario, this implementation needs to allow a non HTTPS url as well.
In my cas

[2021-04-05 10:20] VitaliiTytarenko-okta commented on #83
@absaini123
Thanks for your report!
We will investigate this and comment here when there is additional information to share.
Thanks for using Okta!

[2021-04-05 14:35] bdemers commented on #83
Hey @absaini123!

The HTTPS requirement is an important part of this library and validating a JWT.  For testing of your application that uses this JWT library (or any other) I'd recommend a couple of other approaches:

* Write unit tests instead of integration tests (avoid making http requests).  You can mock out the behavior you are expecting from this library.  You could either use a mocking lib

[2021-04-06 04:17] absaini123 commented on #83
Thanks @bdemers for the details. This will solve my issue!

[2021-04-06 04:17] #83 closed

[2021-06-04 22:59] Sovietaced opened #86 "AccessTokenVerifier can throw undocumented exceptions"
:information_source: **If you have a question**, please post it on the [Okta Developer Forum](https://devforum.okta.com) instead. Issues in this repository are reserved for bug reports and feature requests only.

### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info

In some rare cases I am seeing an `IllegalArgumentException` being thrown from the `AccessTokenVerifi

[2021-06-05 00:45] bdemers commented on #86
Hey @Sovietaced!

When this happens can you grab the JWT you are trying to validate? That should help narrow down the problem

[2021-06-05 16:25] Sovietaced commented on #86
I can try to grab the JWT. We typically don't log it but I can change that.

[2021-07-02 20:12] she43 commented on #86
I was about to raise this an issue. @bdemers I noticed this today when the signing keys are rotated. How will this library know that the signing key is rotated and Use RemoteJwksSigningKeyResolver?

Can you please let jus know what is the cache duration and the frequency of requests to remote jwks uri?

[2021-07-06 14:15] bdemers commented on #86
There are a few questions in here, so I'll try to answer all of them, but there is a healthy dose of "it depends"

First, if possible your backend should handle authentication(e.g. redirect to login), then your frontend simply uses cookies to deal with the user's session. This isn't a one size fits all solution, but when possible, it's usually the best option.  If your frontend handles authenticat

[2021-09-20 13:13] hanumanhuda opened #88 "Multiple Issuer validation support"
:information_source: **If you have a question**, please post it on the [Okta Developer Forum](https://devforum.okta.com) instead. Issues in this repository are reserved for bug reports and feature requests only.

### I'm submitting a feature request

### Background info

currently one issuer validation is supported but would be great to have list of issuer provided as we have custom authorization

[2021-09-20 15:19] arvindkrishnakumar-okta commented on #88
@hanumanhuda Thanks for posting!

I would review the ask here with my team and get back.

[2021-09-21 15:05] arvindkrishnakumar-okta commented on #88
@hanumanhuda We do not have plans to support this currently. However, as a workaround you could use [JJWT](https://github.com/jwtk/jjwt) directly to achieve what you need. Reference: https://developer.okta.com/docs/guides/validate-access-tokens/java/overview/

[2021-09-26 03:11] saravana2906 commented on #9
Hi,
i'm also facing similar issue , for me ..  i have explained in detail in this SO [question](https://stackoverflow.com/questions/69325795/signed-jwt-rejected-another-algorithm-expected-or-no-matching-keys-found)

[2021-11-11 13:45] abcfy2 opened #91 "Gradle shadowJar throws No `interface com.okta.jwt.AccessTokenVerifier$Builder` implementation found on the classpath."
### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info

Do you have any gradle examples?

I try to use this in my gradle project:

[code]

But when I run my shadow jar will throws:

[code]

In fact `okta-jwt-verifier-impl` and services files already contains in shadow jar file:

[code]

### Steps to reproduce

If the current behavior is a bug, please provide the steps

[2021-11-11 14:05] abcfy2 commented on #91
Never mind, seems this is an pf4j issue

[2021-11-11 14:05] #91 closed

[2021-11-29 09:17] saraiyakush opened #92 "No `interface com.okta.jwt.AccessTokenVerifier$Builder` implementation found on the classpath. Have you remembered to include the okta-jwt-verifier-impl.jar in your runtime classpath"
### I'm submitting a
  - [ X] bug report

### Background info

I am writing an authorizer that will verify a given access token using the readme file in this repository. However, I keep getting the below error whenever the code tries to create `AccessTokenVerifier` class.

### Expected behavior

An instance of the implementation of `AccessTokenVerifier` must be returned instead.

### Steps to repr

[2021-11-29 09:36] sergiishamrai-okta commented on #92
Hi @saraiyakush,
I did try to build a simple project with dependencies that you posted and I can't see the same error as you.
What JVM version did you use?

[2021-11-29 09:43] saraiyakush commented on #92
Hi @sergiishamrai-okta ,
I am using Java 8 in my pom xml. Although I have java 11 on my machine.
[code]
[code]

[2021-11-29 10:11] saraiyakush commented on #92
Hi @sergiishamrai-okta ,

My apologies. The local maven is using JVM 17 as per logs, but like I mentioned I have explicitly set the Java version to 8 (also tried 11) in my pom. Not sure if this information helps in any way.

[2021-11-29 11:20] saraiyakush commented on #92
Hi @sergiishamrai-okta ,

After spending some more time, it looks like the issue seems to be with how aws lambda uses different Maven commands to package and there may be a bug there. I was using aws to build my Maven project and it wasn't adding the `runtime` dependencies. So I ran plain maven build and found that the runtime dependencies were in fact included in the target. So we can close this

[2021-11-29 11:20] #92 closed

[2021-12-10 21:03] swaincreates opened #93 "Support for org authorization servers"
### I'm submitting a
  - [ ] bug report
  - [X] feature request

### Background info

I am working on OpenID Connect implementation for the Okta Integration Network. The [documentation](https://developer.okta.com/docs/guides/oin-oidc-guide/protocol-level-requirements/#authorization-code-flow) says:

I assume that means the `baseUrl` should not include `default` or an `authorizationServerId`. Howev

[2021-12-10 21:50] aarongranick-okta commented on #93
@swaincreates Thanks for the question. Does this integration *require* validating the access token? My basic understanding of the issue is that the access token from the Org authorization server is meant for securing access to the Okta API and is not necessarily appropriate for securing access to customer resources. I'm guessing applications which are using the Org server as issuer are primarily i

[2021-12-10 22:10] swaincreates commented on #93
That makes sense! Yes, with the claims in the `id_token` I suppose I don't need to make a call to `/userinfo`. And part of me thought i'd run into this same error with the `id_token` but I just verified that validating the `id_token` works fine. Thank you!

[2021-12-10 22:14] bdemers commented on #93
@aarongranick-okta is correct, access tokens from an Org authorization server cannot be validated as a JWT, but must be treated as an opaque access token.

`id_tokens` CAN be validated as a JWT (but those tokens are not used the same way).

More background info:
Access tokens are opaque per the OAuth 2 spec.  It just happens that many IdPs implement them with JWTs (so common in fact that Spring Se

[2022-01-06 15:54] srivi1225 opened #94 "this is not working with reactive webflux restapi"
I tried to use this dependancy in spring webflux library but i am getting error. Please help me is there any way to do custom validation for signature and scopes using oauth2 okta in spring webflux reactive APIs.

[2022-01-06 16:09] bdemers commented on #94
@srivi1225 it looks like the error you mentioned was not added to this issue.

That said, if you are using Spring Webflux, [okta/okta-spring-boot](https://github.com/okta/okta-spring-boot), which sits on top of Spring Sec, and already has support for Okta's JWTs.

From there, you can mark your endpoints to require a specific scope using the `@PreAuthorize` annotation, or equivalent route configura

[2022-01-10 20:23] rahmed14 commented on #91
@abcfy2
Hello, did you find a solution for this?

[2022-01-10 20:51] bdemers commented on #91
@rahmed14 Can you include the details of the issue you are having?

[2022-01-19 09:01] srivi1225 commented on #94
@bdemers  thank you so much for the quick reply.

my query is is there any way i can do the implementation without using the libraries . I will call the /keys end point cache those in DB and would like to validate the signature and scopes manually because I have to implement a custom logic .

is there is any sample implementation using oauth2 , Okta and spring webflux will be helpful. Also, i don'

[2022-01-19 16:10] arvindkrishnakumar-okta commented on #94
@srivi1225 yes you should be able to hit the `/keys` endpoint and validate the token details yourself (assuming the token is not from a root/Org Authorization server).

From your config, I see you're behind a network proxy. What type of proxy is it (password-less)? Can you share the full stack trace of the error?

[2022-01-19 18:27] srivi1225 commented on #94
Please check the full error stack trace. It will be a great help if you share any sample sample manual token validation.Hitting the keys endpoint and storing to Db part is already implemented but i am struck with decoding the token , validating  and verifying the scopes in spring webflux functional approach.

Please help me with your inputs.

``{"timestamp":"2022-01-19 10:14:55.953","level":"ERROR

[2022-01-19 22:21] bdemers commented on #94
Hi @srivi1225
I'd suggest using the `okta-spring-boot-starter` instead of implementing this logic yourself.  This library `okta-jwt-verifier` Is meant for folks that need to implement JWT validation in a framework that doesn't have built-in support for JWT access tokens.

Based on the stack trace you provided above, it looks like you are using the `okta-spring-boot-starter` or Spring Security dire

[2022-01-29 22:47] er1c opened #95 "java.lang.NoSuchMethodError: 'io.jsonwebtoken.JwtParserBuilder io.jsonwebtoken.Jwts.parserBuilder()'"
On scala:

[code]

[code]

Is there a dependency missing in the pom?

[2022-01-29 22:55] er1c commented on #95
Fixed by adding:

[code]

not ideal.

[2022-01-29 23:07] er1c opened #96 "Convert integration tests to java"
I see https://github.com/okta/okta-jwt-verifier-java/blob/master/integration-tests/src/test/groovy/com/okta/jwt/it/KeyServerITSupport.groovy

and want to use something like this for my own unit/integration tests - can this be refactored into java code and packaged as a jar/package suitable for unit tests for this library?

[2022-01-30 01:10] bdemers commented on #96
Hi @er1c!

Your best bet would be to copy the classes into your own project.

We watch for API compatibility (semver) very carefully. Adding an external facing test module would require us to manage that the same way, which would make it harder to refactor theses tests if/when needed.

That said! It a lot of folks feel this way it might be something we should consider.

Anyone else that sees this

[2022-01-30 01:19] bdemers commented on #95
Hi @er1c!

It’s been a while since I’ve done any Scala, but it a sounds like it’s a Scala build tool issue when pulling in dependencies?

‘jjwt-impl’ is a runtime scoped dependency of  this project, so it _should_ get pulled in the same way.

Any chance you can put together a minimal example that reproduces the problem?

[2022-01-31 18:10] er1c commented on #96
I semi-created scala versions here: https://github.com/er1c/okta-jwt-verifier-scala-example/blob/main/build.sbt

[2022-01-31 18:11] er1c commented on #95
@bdemers https://github.com/er1c/okta-jwt-verifier-scala-example/blob/main/build.sbt here you go!

[2022-01-31 18:55] er1c commented on #95
@bdemers is the library just missing as a `<dependency>` https://github.com/okta/okta-jwt-verifier-java/blob/master/pom.xml#L36 ?

[2022-01-31 19:01] er1c commented on #95
Hmm: https://gist.github.com/er1c/2fc4a587ff54bbe719546b1b92bf6c7c this is working, let me close this for now and see if I run into the same issue again.

[2022-01-31 19:01] #95 closed

[2022-01-31 20:05] bdemers commented on #95
Thanks for following up @er1c.  Let us know if you figure out where the issue was!

[2022-02-01 16:39] er1c opened #97 "Feature Request: Stronger typing in Jwt Claims"
https://github.com/okta/okta-jwt-verifier-java/blob/master/api/src/main/java/com/okta/jwt/Jwt.java#L48

This would be better to have a concrete class, rather than a `Map`.

I'd prefer not to have to cast / pattern match / infer types when interacting with this API.

Reference for the upstream library is: https://github.com/jwtk/jjwt/blob/master/api/src/main/java/io/jsonwebtoken/Claims.java

First

[2022-02-01 16:46] monde commented on #97
Thanks @er1c , I'll confer with our Java developers and follow up with further information.

[2022-02-01 17:10] arvindkrishnakumar-okta commented on #97
Internal Ref: OKTA-466295

[2022-02-01 17:14] bdemers commented on #97
@er1c

Great idea! There is no _real_ reason why we only expose those few typed claims.
We should be able to add new methods with a `default` implementation to the `Jwt` interface to keep things backward compatible.

IIRC, there were a couple of fuzzy fields in the JWT spec that can be an array or string, like `Audience`.  But for most other  "registered claims" we should be able to add helper met

[2022-02-01 17:45] er1c commented on #97
I started going down the rabbit hole, but need to abandon for now, but this could be helpful if anyone can continue: https://github.com/er1c/okta-jwt-verifier-java/commit/dd9fe60da04b56354e555c599aefc0551bb8cdce

[2022-03-03 20:20] zahidmak commented on #43
@guangweiyao , were you able to resolve this issue? I am in the same boat and would appreciate if you can share the solution if you reached one.

[2022-03-14 17:59] er1c opened #98 "Async API"
### I'm submitting a
  - [ ] bug report
  - [x] feature request

### Background info

It's not directly obvious how to configure the http client requests to an issuer URL using a `Future` other than wrapping them in my own task runner.

### Expected behavior

I would like:

* `Future<Jwt> jwtFuture = jwtVerifier.asyncDecode(jwtString);`
* `setExecutor(Executor executor)` in `AccessTokenVerifier.Bu

[2022-03-14 23:05] zahidmak commented on #91
@abcfy2 , how did you resolve this issue? If you don't mind, could you please share the solution?

[2022-03-15 13:27] arvindkrishnakumar-okta commented on #98
@er1c Thanks for posting!

While it sounds like a nice API to add to the framework, on giving it a deeper thought I feel like this level of multi threading capability is better handled flexibly at the client side (as the library user/client) and not at the framework level.

[2022-03-15 15:21] arvindkrishnakumar-okta commented on #98
@er1c Sure, that is by design as we didn't feel the need to expose the HTTP client params.

[2022-03-15 15:30] #98 closed

[2022-03-16 15:20] arvindkrishnakumar-okta commented on #98
@er1c your comment is noted and Readme is updated.

[2022-04-01 17:36] hscabral commented on #95
Hey folks, I ended up here after searching for the same error in a Gradle build:

```Caused by: java.lang.NoSuchMethodError: 'io.jsonwebtoken.JwtParserBuilder io.jsonwebtoken.Jwts.parserBuilder()'```

My Gradle Okta block looks like this:

[code]

[2022-04-01 17:37] hscabral commented on #95
Hey folks, I ended up here after searching for the same error in a Gradle build:

Caused by: java.lang.NoSuchMethodError: 'io.jsonwebtoken.JwtParserBuilder io.jsonwebtoken.Jwts.parserBuilder()'

My Gradle Okta block looks like this:
[code]

I've tried adding the explicit JJWT deps, but with the same results. Any hints here?

[2022-06-03 13:44] ishan1020 opened #112 "Feature Request : Method for introspect token."
### I'm submitting a
  - [ ] feature request

### Background info

Submitting a feature request for token introspection method so that a separate code for API call will not have to be developed.

### Expected behavior

Token Introspection with Okta Introspect API

[2022-06-03 14:22] bdemers commented on #112
Thanks for reaching out @ishan1020!
Remote validation of a token is probably a little outside the scope of this library at the moment.

That said, can you tell us a little more about your use case?  What frameworks are you using in your application?  It can help us make decisions in the future, or we could suggest an alternative option for you 😄

[2022-06-13 15:39] er1c opened #116 "Allow specifying a java.time.Clock to better write unit tests."
I have a mockito webservice and unit tests with a fixed java.time.Clock, when I try to decode the bearer token, I get an exception on the expired state of the token from the okta library *sigh*.  I'd like to have an optional `java.time.Clock` argument in `AccessTokenVerifier` for the: `Jwt decode(String accessToken) throws JwtVerificationException`

<img width="1091" alt="image" src="https://user-

[2022-06-15 13:50] arvindkrishnakumar-okta commented on #116
@er1c Thanks for the post. We will consider this request. Feel free to submit a PR if would like to.

[2022-06-15 17:39] er1c commented on #116
@arvindkrishnakumar-okta PR: https://github.com/okta/okta-jwt-verifier-java/pull/117

[2022-06-15 19:57] #116 closed

[2022-06-15 19:58] er1c commented on #116
@arvindkrishnakumar-okta it's not done until its released 👅

[2022-06-22 18:46] er1c opened #118 "Publish new library version"
I'm interested in using https://github.com/okta/okta-jwt-verifier-java/pull/117 :)

[2022-06-23 15:18] arvindkrishnakumar-okta commented on #118
Released version `0.5.2`.

[2022-09-30 00:17] rtveitch opened #135 "NoClassDefFoundError after upgrade"
:information_source: **If you have a question**, please post it on the [Okta Developer Forum](https://devforum.okta.com) instead. Issues in this repository are reserved for bug reports and feature requests only.

### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info

Upgrading from `0.5.4` -> `0.5.5` results in a `NoClassDefFoundError`

### Expected behavior

Behavio

[2022-09-30 02:25] arvindkrishnakumar-okta commented on #135
Can you try the latest `0.5.6`?

[2022-10-01 01:31] rtveitch commented on #135
Just tried with `0.5.6` and I see the same stacktrace

[code]

[2022-10-03 16:00] ethanmills commented on #86
@bdemers the headline here is still an issue (the method throws undocumented `java.lang.IllegalArgumentException` and `com.okta.commons.http.HttpException`). I'd also suggest checking the `exp` of the token _before_ verifying the signature; we're seeing issues trying to fetch keys that have been rotated away for tokens older than 3 months. Either way, if the key isn't present or the token is expir

[2022-10-04 22:35] bdemers commented on #86
@ethanmills any content inside the JWT bod cannot be trusted until the signature is validated.

[2022-10-05 03:38] arvindkrishnakumar-okta commented on #135
@rtveitch https://github.com/okta/okta-jwt-verifier-java/pull/137 should fix this issue. Let me know otherwise.

[2022-10-05 15:42] chandransr opened #139 "com.okta.jwt.JwtVerificationException: Failed to parse token"
:information_source: **If you have a question**, please post it on the [Okta Developer Forum](https://devforum.okta.com) instead. Issues in this repository are reserved for bug reports and feature requests only.

### I'm submitting a
  - [ ] bug report

### Background info

Describe your issue or request here (if necessary).

we are using OKTA verifier for OKTA token offline validation. Sometime w

[2022-10-05 15:59] arvindkrishnakumar-okta commented on #139
@chandransr Thanks for posting!

From the stack trace, it looks like your app is having connection issues communicating with `{yourOrg}/oauth2/default/v1/keys` endpoint. Can you double check if you're able to curl to this endpoint from this system that is hosting this app?

[2022-10-05 16:41] arvindkrishnakumar-okta commented on #139
@chandransr Can you share more details on how you are using this library within your app? Do you see the connectivity issue at server/app startup? Can you share a minimal sample app to help reproduce this issue?

[2022-10-05 17:07] chandransr commented on #139
@arvindkrishnakumar-okta , please find the snippet code details and reference details.

https://developer.okta.com/docs/guides/validate-access-tokens/java/main/#decoding-and-validating-the-access-token

Basically decode the token and extract the claims.

Jwt jwt = jwtVerifier.decode(jwtString);

jwt.getClaims().get("aClaimKey");

In our app deployed in GCP Cloud platform.I hope, this information w

[2022-10-05 17:26] bdemers commented on #139
You mentioned "offline" validation, is your server able to make a connection back to your Okta org to download the public keys needed to validate your JWTs?

[2022-10-06 00:37] rveitch-Ocient commented on #135
Works locally for me!

[2022-10-06 03:03] chandransr commented on #139
@bdemers offline validation means locally. Based on reference integrated the OKTA verifier API.
Reference details : https://developer.okta.com/docs/guides/validate-access-tokens/java/main/#about-access-token-validation.

From reference: After the signed tokens are issued to the end users, they can be passed to your application for validation. There are two ways to verify a token: **locally or remo

[2022-10-06 06:19] bdemers commented on #139
@chandransr cool, in that case, it looks like your system might be blocking outbound requests:
[code]

Do you have a proxy server or other appliance your outbound connections go through?

[2022-10-06 09:26] chandransr commented on #139
@bdemers I checked with our GCP team, we don't have any restrictions for proxy or other appliance perspective.

[2022-10-06 10:11] ethanmills commented on #86
Is there a concern about malicious content, or just false information? I think you have to decode the payload to get the issuer before you can fetch the keys anyway, so rejecting early (never accepting) based on an `exp` in the past seems safe?

[2022-10-06 17:13] arvindkrishnakumar-okta commented on #139
@chandransr I'm a little confused here. Can you please elaborate on the `inconsistency` in behavior you mentioned above?

[2022-10-06 17:14] #135 closed

[2022-10-06 20:07] bdemers commented on #86
@ethanmills
The issuer is known in advance in advance when configuring the library, so the library already knows where to get the keys from.

What you are suggesting was a common vulnerability in JWT libraries early on.  It would be like asking someone who handed you counterfeit money to validate it.
Similarly, this is why the `jku` claim should not be used:
https://www.rfc-editor.org/rfc/rfc7515#

[2022-10-07 06:55] chandransr commented on #139
@arvindkrishnakumar-okta Inconsistancy means , issue exists for sometime only.We performed the load test for our API and 64 calls we got the expected response , after 64 th call we got the exceptions from OKTA verifier API.

used for **0.4.1 version for OKTA verifier** and Exception details:

**com.okta.jwt.JwtVerificationException: Failed to parse token**
    at com.okta.jwt.impl.jjwt.TokenVerifi

[2022-10-07 14:52] arvindkrishnakumar-okta commented on #139
@chandransr Thanks for the info!

It definitely looks like a connection issue. If not already, can you try increasing the connection timeout value while constructing the `jwtVerifier` instance for load test purpose?

[code]

Also, would it be possible to test this app (or any app that uses this library) in "load test mode" outside your corporate network?

[2022-10-08 07:37] chandransr commented on #139
@arvindkrishnakumar-okta Sure , we will validate once and update the observations. Could you please suggest connection timed out value. It seems default value is 1s.

[2022-10-10 20:49] arvindkrishnakumar-okta commented on #139
You could try experimenting by setting it around 30s (on incremental basis - starting from 1s default).

[2022-10-18 10:26] ethanmills commented on #86
Thanks for the reply @bdemers . I appreciate what you're getting at, but think that it doesn't quite cover the whole picture. Consider the case where a resource server trusts tokens issued by two different issuers. The flow then looks like

1. library is configured with set of trusted issuers
2. issuer is retrieved from token - rejected if not in set
3. keys retrieved from jwks url published in we

[2022-10-21 08:27] anmeng commented on #63
I am encountering the exactly same issue.
AccessToken does not contain enough information to authorize user, so I intended to use **IdToken**.
There is even an Okta developer guide teaching you how to do it:
https://developer.okta.com/docs/guides/validate-id-tokens/main/#decode-the-id-token

But the decode link pointing to **AccessToken** verification.

If we can not know the nonce before decoding

[2022-10-21 08:48] bdemers commented on #63
@anmeng the goal of an access token is authorization.

When validating an ID token the nonce that was used to request the token is used to verify it. We see a similar question sometimes when someone try’s to make one app pass an ID token from one app to another.

For those use cases, access tokens should be used instead.

taking a step back what information are you trying to get out of your access